body {
    font-family: ''Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;';
    text-align: center;
    background-image: url("./Assets/table.png");
    background-size: cover;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}


h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    background-color: goldenrod;
    padding: 0.5rem 0rem;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    width: 150px;
    margin-bottom: 10px;
}